<div class="ui relazed grid">
  <div class="ten wide column">
    <h3>Your Articles</h3>
    <%= render partial: "./articles/editor_articles" %>
  </div>
  <div class="four wide column">
    <%= render partial: "./articles/form" %>
  </div>
</div>