<% @articles.each do |a|%>
  <% if a.category == c%>
  <div class="ui segment">
    <div style="display: flex; justify-content: space-between; flex-direction: row; align-items: center">
      <%= a.title %>
      <% if a.user_id == current_user.id %>
        <h5 style="color: orangered">Your Article</h5>
      <% end%>
    </div>
    <hr />
    <div>
      <p style="font-weight: 200"><%= truncate(a.content, length: 300) %></p>
        <%= link_to 'Read More...', article_path(a.id) %>
    </div>
  </div>
  <% end %>
<% end%>
  <%= link_to "Show All Articles", category_path(c) %>